/* variables */
:root {
    --light: #f8f8f8;
    --blue: #5068a9;
    --light-blue: #86a6df;
    --dark-blue: #324e7b;
    --hover: #5a75be;
}

/* set all elements to margin and padding to 0 and box-sizing */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* set html and body height and width */
html, body {
    height: 100%;
    width: 100%;
}

html * {
    font-family: Arial, Helvetica, sans-serif;
}

/* body color and background */
body {
    color: var(--dark-blue);
    background-color: var(--light);
}

/* header color background and height */
header {
    min-height: 100px;
}

a {
    text-decoration: none;
    color: var(--light);
}

header a, .buttons a, .buttons button, .initials-box button {
    font-size: 22px;
    color: var(--light);
    background-color: var(--blue);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
}

/* hover propeties for all buttons */
header a:hover, .buttons button:hover, .initials-box button:hover, .buttons a:hover {
    background-color: var(--dark-blue);
}

.quiz-box, .start-quiz, .result-quiz, .initials-box {
    margin: 50px 0;
}

.start-quiz p {
    font-size: 24px;
}

.text-center {
    text-align: center;
}

.hide {
    display: none;
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    width: 100%;
}

.row-col {
    display: flex;
    flex-direction: column;
    min-height: 85%;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.shadow {
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.173);
}

.quiz-box h1 {
    font-size: 38px;
}

.card {
    width: 60%;
    padding: 50px;
    border-radius: 5px;
}

.card-title {
    font-size: 30px;
    font-weight: bold;
}

.card-body {
    font-size: 20px;
    margin: 30px 0;
}

.question h2 {
    font-size: 34px;
}

.answers ul {
    display: inline-block;
}

.answer {
    font-size: 28px;
    list-style: none;
    color: var(--light);
    background-color: var(--blue);
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.answer:hover {
    background-color: var(--dark-blue);
}

.result {
    margin-top: 15px;
    padding: 10px;
    border-top: 2px solid var(--dark-blue);
}

.result p {
    font-size: 28px;
}

.initials-box .input {
    margin-top: 10px;
}

.initials-box input {
    width: 100%;
    flex: 1;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid var(--light-blue);
}

.initials-box p, .initials-box label {
    font-size: 26px;
}

.initials-box label {
    margin-right: 4px;
}

.initials-box button {
    margin: 0;
    font-size: 16px;
    margin-left: 4px;
}

.result-quiz p {
    color: var(--light);
    font-size: 24px;
    padding: 5px;
    background-color: var(--light-blue);
}

#score {
    padding-left: 15px;
}

/* table screen propeties */
@media only screen and (max-width: 1280px) {
    .start-quiz h1 {
        font-size: 38px;
    }

    .container {
        width: 90%;
    }

    .card {
        width: 60%;
        padding: 20px;
    }

    .buttons button, .buttons a {
        font-size: 20px;
    }
}

/* mobile screen propeties */
@media only screen and (max-width: 960px) {
    header a, header h2 {
        font-size: 1.1rem;
    }

    .card {
        width: 95%;
    }

    .question h2 {
        font-size: 28px;
    }

    .answer, .result {
        font-size: 20px;
    }

    .initials-box h1 {
        font-size: 28px;
    }

    .initials-box p, .initials-box label {
        font-size: 20px;
    }

    .result {
        border-top: 1px solid var(--dark-blue);
    }

    .result-quiz h1 {
        font-size: 34px;
    }

    .result-quiz p {
        font-size: 20px;
    }

    .buttons button, .buttons a {
        font-size: 16px;
    }

    .initials-box button {
        font-size: 13px;
    }

}